	  
.TradeGothicLTPro-Light { 
	font-family: TradeGothicLTPro-Light;
	font-weight: normal;
	font-style: normal;
}

body {	
	font-family: TradeGothicLTPro-Light;
	color:#f5f5f7;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

#map { position:absolute; top:0; bottom:0; width:100%; z-index: 0;}
.d3-vec { position:absolute; }

#sidebar {
	position:fixed;
	top:50px;
	left:50px;
	width: 90px;
	height: 600px;
	color: #ECECEE;	
	z-index: 999;
}

#sidebar .button {
	position:relative;
	margin-left:auto;
	margin-right:auto;	
	margin-top:10px;	
	display:block;
	padding:20px 5px 20px 5px;
	width:60px;
	height:30px;
	border-radius:35px;
	font-size:11px;
	color:#fff;
	line-height:13px;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	opacity:0.8;
	word-wrap:break-word;		
}

#sidebar .button:hover {
	opacity:1;
}



.Oth {
	stroke:none;
	fill:none;
}

.Sho {
	background:#A92B4D;	
	stroke:#A92B4D;
	fill:none;
}

.Hom {
	background:#3867B1;	
	stroke:#3867B1;
	fill:none;
}
.Out {
	background:#2B7A3C;	
	stroke:#2B7A3C;
	fill:none;
}
.Nig {
	background:#DF6235;	
	stroke:#DF6235;
	fill:none;
}
.Art {
	background:#F2B71A;	
	stroke:#F2B71A;
	fill:none;
}
.Tra {
	background:#9ACA45;	
	stroke: #9ACA45;
	fill:none;
}
.Foo{
	background:#E34A51;	
	stroke:#E34A51;
	fill:none;
}
.Col {
	background:#83CBF1;	
	stroke:#83CBF1;
	fill:none;
}

.shown {
	visibility:default;
}

.hide {
	visibility:hidden;
}

/***************/
/* Time slider */
/***************/

#bottom{
	margin-left:180px;
	position:absolute;
	top:50px;
	float:left;
	color:#ffffff;	
}

#timeslider{
	width:1000px;
	height:20px;
	padding:25px 0 15px 0;
	position:relative;
	float:left;
	display:block;
}

#time{
	position:relative;
	float:right;
	font-size:48px;
	height:60px;
	
}

.ui-slider-horizontal {
    height: 0.4em;
    border: 1px solid #ffffff;
    background-color: #aaaaaa;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.4em;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.1em;
    top: -0.7em;
    background-color:#FFFFFF;
}

.ui-slider .ui-slider-handle {
    cursor: default;
    height: 1.6em;
    position: absolute;
    width: 0.5em;
    z-index: 2;
}